<% provide(:title, "#{@selected_category.name} - #{@selected_brand.name}") %>

<%= form_tag products_path, id: "filter_form", method: "get" do |f| %>
<%= hidden_field :category, :id, :value => "#{@selected_category.id}" %>
<%= hidden_field :brand, :id, :value => "#{@selected_brand.id}" %>
<%= hidden_field :line, :id, :value => "#{@selected_line.id}" %>
<% end %>

<legend>Selecciona una linea</legend>

<%= render "shared/search_form" %>

<div class="row">
	<%= render :partial => 'line', :collection => @lines %>
</div>
