<div class="form-group">
	<%= f.label "Nombre", class: "col-md-2 control-label" %>
		<div class="col-md-10">
		<%= f.text_field :name, class: "form-control",placeholder: "Incluye el nombre de la categoria", required: true %>
		</div>
</div>

<div class="form-group">
	<%= f.label "Imagen", class: "col-md-2 control-label" %>
	<div class="col-md-10">
		<% if c.photo.exists? %>
			<%= image_tag c.photo.url(:medium) %>
		<% end %>
		<%= f.file_field :photo %>
	</div>
</div>

<div class="form-group">
	<div class="col-md-offset-2 col-md-10">
		<%= f.submit "Confirmar", class: "btn btn-lg btn-primary" %>
	</div>
</div>