<tr>
	<td><%= wrap(product.reference) %></td>
	<td><%= wrap(product.comments) %></td>
	<td><%= product.category.name %></td>
	<td><%= image_tag product.photo.url(:thumb) %></td>
	<td><%= format_lines(product) %></td>
	<td>
		<div class="btn-group">
			<%= link_to 'Ver', product, class: 'btn' %>
			<% if signed_in? %>
			<%= link_to 'Editar', edit_product_path(product), class: 'btn' %>
			<%= link_to 'Eliminar', product, method: :delete,
			data: {confirm: "¿Realmente desea eliminar este producto?"}, class: 'btn' %></td>
			<% end %>
		</div>
	</td>
</tr>