<% provide(:title, "#{@category.name} - #{@brand.name} - #{@line.name}") %>

<%= form_tag cbrand_url, id: "filter_form" , method: "get" do |f| %>
<%= hidden_field :category, :id, :value => "#{@category.id}" %>
<%= hidden_field :brand, :id, :value => "#{@brand.id}" %>
<%= hidden_field :line, :id, :value => "#{@line.id}" %>
<% end %>
<div class="row-fluid">
	<div class="catalog-box col-md-12">
		<table class="table table-hover table-condensed" id="products-table">
			<thead>
				<th>Descripción</th>
				<th>Referencia</th>
				<th>Imagen</th>
				<th>Acciones</th>
			</thead>
			<tbody>
				<% if @products.any? %>
				<%= render @products %>
				<% end %>
			</tbody>
		</table>

		<ul class="nav nav-pills">
			<li><%= link_to 'Crear nuevo producto', new_product_path %></li>
		</ul>
	</div>
</div>
