<% provide(:title, "#{@product.category.name} - #{@product.reference}") %>

<div class="row">
	<div class="col-md-3">
		<%= image_tag @product.photo.url(:medium), class: "img-thumbnail" %>
	</div>
	<div class="col-md-9">
		<ul>
			<li><strong>Referencia: </strong><%= @product.reference %></li>
			<li><strong>Categoria: </strong><%= @product.category.name %></li>
			<li><strong>Comentario: </strong><%= @product.comments %></li>
		</ul>
	</div>
</div>
<legend><strong>Este producto es compatible con las siguientes lineas y marcas</strong></legend>

<div class="row">

	<% @lines.each do |l| %>
	<div class="lines-compatible">
		<div class="internal">
			<%= image_tag l.photo.url(:thumb), class: "img-circle" %>
			<h4><%= l.name %></h4>
			<h5><%= l.brand.name %></h5>
		</div>
	</div>
	<% end %>
</div>
