<header class = "navbar navbar-fixed-top navbar-inverse">
	<div class = "navbar-inner">
		<div class = "container">
			<%= link_to "Autofrio Importaciones SAS", root_path, id: "logo" %>
			<nav>
				<ul class = "nav pull-right">
					<li><%= link_to "Inicio", root_path %></li>
					<li><%= link_to "Empresa", empresa_path %></li>
					<li><%= link_to "Catalogo", catalogo_path %></li>
					<li><%= link_to "Contacto", contacto_path %></li>
					<% if signed_in? %>
					<li><%= link_to "Admin", admin_path %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>