<div class="header">
	<div class="container">
		<div class="row-fluid">
			<div id="logo">
				<a href="/">
					<%= image_tag "logo_nuevo.png", alt: "Calidad y Eficiencia" %>
				</a>
			</div>
			<ul class="nav nav-pills">
				<li><%= link_to "Inicio", root_path %></li>
				<li><%= link_to "Empresa", empresa_path %></li>
				<li><%= link_to "Catálogo", catalogo_path %></li>
				<li><%= link_to "Contacto", contacto_path %></li>
				<% if signed_in? %>
				<li id="fat-menu" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-user icon-black"></i> Admin<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><%= link_to "Panel de Control", admin_path %></li>
						<li><%= link_to "Salir", signout_path, method: "delete" %></li>
					</ul>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
